.contact-us {
    color: #fff;
    background-color: $darkBlue;

    &__content {
    }

    &__container {
    }

    &__body {
        @include adaptiveValue("padding-bottom", 45, 30);
        @media (max-width: $mobile) {
            text-align: center;
        }
        @media (min-width: $mobile) {
            width: 60%;
            @include adaptiveValue("padding-top", 100, 30);
            padding-right: rem(30);
        }
    }

    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 200, 30);
        }
    }

    &__subtitle {
        @include adaptiveValue("font-size", 64, 30);
        font-weight: 700;
        line-height: 130%;
        letter-spacing: -0.64px;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 75, 20);
        }
    }

    &__text {
        @include adaptiveValue("font-size", 36, 20);
        font-weight: 400;
        line-height: 130%;
        letter-spacing: -0.18px;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 20);
        }
    }

    &__link {
        display: inline-block;
        color: #62d0df;
        transition: all 0.3s ease 0s;
        &:hover {
            text-shadow: 0px 0px 3px $lightBlue;
            transition: all 0.3s ease 0s;
        }
    }

    &__image {
        padding: 0px 0px 50% 0px;
        @media (min-width: $mobile) {
            flex: 0 0 40%;
            transform: translate(-100%, 0);
        }
        img {
            object-position: center;
            @media (max-width: $mobile) {
                object-position: 50% 40%;
            }
        }
    }
}
