.footer {
    font-size: rem(14);
    line-height: 130%;
    letter-spacing: -0.084px;
    display: flex;
    flex-direction: column;
    &__block {
        background-color: #fff;
    }

    &__image {
        padding: 0px 0px 45% 0px;
        @media (min-width: $mobile) {
            flex: 0 0 40%;
            padding: 0px 0px 25% 0px;
        }
        img {
            object-position: center;
        }
    }

    &__content {
    }

    &__container {
        margin: 0;
    }

    &__body {
        @media (min-width: $mobile) {
            width: 60%;
        }
        @include adaptiveValue("padding-top", 100, 30);
        @include adaptiveValue("padding-bottom", 100, 30);
        @include adaptiveValue("padding-left", 70, 0);
    }

    &__items {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: start;
        flex-wrap: wrap;
        margin: 0 -15px;

    }

    &__item {
        flex: 1 1 33.333%;
        min-width: 165px;
        padding: 10px 15px;
        display: flex;
        gap: rem(20);
        flex-direction: column;
        text-align: center;
        align-items: center;

    }

    &__title {
        color: $darkBlue;
        font-weight: 700;
        line-height: 130%;
    }

    &__text {
        color: rgba(34, 53, 111, 0.5);
        font-weight: 400;
        display: grid;
        gap: 6px;

    }

    &__copyright {
        background-color: $lightBlue;
        color: #fff;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: -0.084px;
        @include adaptiveValue("padding-top", 32, 20);
        @include adaptiveValue("padding-bottom", 26, 20);
        @include adaptiveValue("padding-left", 180, 5, 1300, 767, 1);
        display: flex;
        gap: 6px;
        @media (max-width: $mobile) {
            justify-content: center;
        }
        &::before {
            content: "";
            background: url(./../../img/icon.svg) 0 0 / auto no-repeat;
            width: 10px;
            height: 10px;
            position: relative;
            top: 3.5px;
        }
    }
}
.tel {
    color: blue;
}

